# Python Artifacts
*.pyc
*.log

# Build Artifacts
dist
build
*.egg-info

# Editor / Development Environment Files
*.swp
.idea

# Virtual Environments
env*

# File System Artifacts
.DS_Store

# Test Artifacts
.coverage
